<div class="card">
  <div class="card-title">Reset Password</div>
  <div class="card-content">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" required />
        <span *ngIf="resetPasswordForm.get('email')?.invalid">
          Please enter a valid email
        </span>
      </div>
      <button type="submit" [disabled]="!resetPasswordForm.valid">
        Reset Password
      </button>
    </form>
  </div>
</div>
