mat-card {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 0 auto; /* Add this line to center the card horizontally */
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-weight: 600px;
  color: #c00100;
}
mat-form-field {
  width: 100%;
  margin-bottom: 8px;
}

button {
  margin-top: 20px;
}
mat-form-field {
  width: 100%;
  margin-bottom: 8px;
}

button {
  margin-top: 20px;
}
